<div class="backgroundAbout">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6 text-center">
            <div class="card sample shadow-z-4 aboutCard">
                <h1>About Us</h1>
                <p>Bacon ipsum dolor amet short loin flank kielbasa short ribs venison pork ball tip tenderloin. Hamburger flank sausage, pork chop chuck drumstick shank corned beef frankfurter ham hock kevin pig chicken meatloaf. Tongue alcatra spare ribs pork chop, ham pancetta corned beef tail filet mignon pastrami sirloin frankfurter. Drumstick strip steak beef ribs spare ribs ball tip. Rump turducken meatloaf, venison pork chop biltong shankle pork hamburger andouille. Pig ball tip shankle leberkas turkey cupim. Ribeye ham fatback t-bone kevin beef ball tip jowl brisket chicken pig. Strip steak landjaeger beef ribs pork loin, pork turkey tenderloin. Short ribs brisket bresaola, capicola ham meatball cow doner. Salami strip steak turducken frankfurter ham bacon prosciutto fatback tenderloin kielbasa beef. Salami ribeye ham hock bacon, pastrami porchetta pork chop fatback beef ribs.</p>
            </div>
        </div>
    </div>
</div>