<div class="container-fluid" id="video_box">
    <div>
        <video autoplay loop poster="Img/poster.jpeg" id="bgvid">
            <source src="Img/Vid/fast-food-line-loop-preview.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="container-fluid">
    <div class="video_overlay container-fluid">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="textboxholder text-center sample shadow-z-5 well well-material-blue-900 row">
                <div class="col-md-11">
                    <h1>
                        CrowdServ
                    </h1>
                </div>
                <div class="col-md-1">
                    <p><button class="btn btn-fab btn-raised btn-material-red-900 sample shadow-z-5"><i class="mdi-navigation-arrow-forward"></i></button></p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


