<div class="jumbotron jumbotronProduct sample shadow-z-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-4 text-center">
                <div class="vcenterTeam card card-content sample shadow-z-5">
                    <h1 style="color: white;">Product</h1>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="row randomSectionForThisPage">
    <div class="col-md-6">
        <img class="randomSectionForThisPagePic" src="/Img/apple-desk-laptop-macbook.jpg" />
    </div>
    <div class="col-md-6">
        <div class="row text-center">
            <div class="col-xs-2"></div>
            <div class="col-xs-9 my-div-whatever">
                <h1>
                    Why<b>Us</b>
                </h1>
                <h3>
                    Bacon ipsum dolor amet pancetta venison pork, tongue short ribs sausage turducken doner kevin beef ribs corned beef ribeye porchetta chuck. Landjaeger pig bacon prosciutto corned beef. Boudin turducken capicola short loin pig, shoulder drumstick spare ribs beef ribs alcatra ball tip kevin.
                </h3>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</div>

<div class="row vsBody TealBG">
    <div class="container">
        <div class="col-md-5 vsBody1">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card card-body well well-material-red-400 something1">
                        <div class="card card-body well well-material-grey-300">
                            <h1 class="text-center">Old<b>Way</b></h1>
                            <ul>
                                <li>1)</li>
                                <li>2)</li>
                                <li>3)</li>
                                <li>4)</li>
                                <li>5)</li>
                                <li>6)</li>
                                <li>7)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 vsBodyMid">
            <div class="card card-body well well-material-red-200 somethingMid">
                <div class="card card-body text-center well well-material-grey-300">
                    <h1>VS</h1>
                </div>
            </div>
        </div>
        <div class="col-md-5 vsBody2">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card card-body well well-material-red-300 something2">
                        <div class="card card-body well well-material-grey-300">
                            <h1 class="text-center">New<b>Way</b></h1>
                            <ul>
                                <li>1)</li>
                                <li>2)</li>
                                <li>3)</li>
                                <li>4)</li>
                                <li>5)</li>
                                <li>6)</li>
                                <li>7)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="headerStoryTeam">
        <div class="holderStoryTeamHeader">
            <div class="row text-center">
                <div class="col-xs-12">
                    <h1>Learn<b>More</b></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="popUpMadness">


        <div class="row">

            <a data-target="#myButton1" data-toggle="modal">
                <div class="col-md-6">
                    <div class="row randomSectionForThisPagePicOverLay1">
                        <div class="col-xs-12 overLay1">
                            <div class="row">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6 text-center">
                                    <div class="crazyButton1">
                                        <h1 class="card card-content">Learn<b>More</b></h1>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a data-target="#myButton2" data-toggle="modal">
                <div class="col-md-6">
                    <div class="row randomSectionForThisPagePicOverLay2">
                        <div class="col-xs-12 overLay2">
                            <div class="row">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6 text-center">
                                    <div class="crazyButton2">
                                        <h1 class="card card-content">Learn<b>More</b></h1>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>


        <div class="row">

            <a data-target="#myButton3" data-toggle="modal">
                <div class="col-md-6">
                    <div class="row randomSectionForThisPagePicOverLay3">
                        <div class="col-xs-12 overLay3">
                            <div class="row">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6 text-center">
                                    <div class="crazyButton3">
                                        <h1 class="card card-content">Learn<b>More</b></h1>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a data-target="#myButton4" data-toggle="modal">
                <div class="col-md-6">
                    <div class="row randomSectionForThisPagePicOverLay4">
                        <div class="col-xs-12 overLay4">
                            <div class="row">
                                <div class="col-xs-3"></div>
                                <div class="col-xs-6 text-center">
                                    <div class="crazyButton4">
                                        <h1 class="card card-content">Learn<b>More</b></h1>
                                    </div>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>


    </div>
</div>

<!-- -------------------------------- Modals ---------------------------- -->

<div class="modal fade" id="myButton1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Learn<b>More</b>1</h1>
                </div>
                <div class="modal-body">
                    <h4>Bacon ipsum dolor amet pancetta venison pork, tongue short ribs sausage turducken doner kevin beef ribs corned beef ribeye porchetta chuck. Landjaeger pig bacon prosciutto corned beef. Boudin turducken capicola short loin pig, shoulder drumstick spare ribs beef ribs alcatra ball tip kevin.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div><!-- /.modal -->

<div class="modal fade" id="myButton2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Learn<b>More</b>2</h1>
                </div>
                <div class="modal-body">
                    <h4>Bacon ipsum dolor amet pancetta venison pork, tongue short ribs sausage turducken doner kevin beef ribs corned beef ribeye porchetta chuck. Landjaeger pig bacon prosciutto corned beef. Boudin turducken capicola short loin pig, shoulder drumstick spare ribs beef ribs alcatra ball tip kevin.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div><!-- /.modal -->

<div class="modal fade" id="myButton3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Learn<b>More</b>3</h1>
                </div>
                <div class="modal-body">
                    <h4>Bacon ipsum dolor amet pancetta venison pork, tongue short ribs sausage turducken doner kevin beef ribs corned beef ribeye porchetta chuck. Landjaeger pig bacon prosciutto corned beef. Boudin turducken capicola short loin pig, shoulder drumstick spare ribs beef ribs alcatra ball tip kevin.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div><!-- /.modal -->

<div class="modal fade" id="myButton4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Learn<b>More</b>4</h1>
                </div>
                <div class="modal-body">
                    <h4>Bacon ipsum dolor amet pancetta venison pork, tongue short ribs sausage turducken doner kevin beef ribs corned beef ribeye porchetta chuck. Landjaeger pig bacon prosciutto corned beef. Boudin turducken capicola short loin pig, shoulder drumstick spare ribs beef ribs alcatra ball tip kevin.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div><!-- /.modal -->

<!-- -------------------------------- Modals End ------------------------- -->

<footer class="footerLayout">
    <div class="container">
        <div class="row followUs">
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <a>
                    <i class="fa fa-facebook-square"></i>
                </a>
            </div>
            <div class="col-xs-2">
                <a>
                    <i class="fa fa-reddit-square"></i>
                </a>
            </div>
            <div class="col-xs-2">
                <a>
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
            <div class="col-xs-2">
                <a>
                    <i class="fa fa-twitter-square"></i>
                </a>
            </div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <hr />
            </div>
            <div class="col-xs-2"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center footerText">
                <h1>Crowd<b>Serv</b></h1>
            </div>
        </div>
    </div>
</footer>