/*Home Page*/

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(Img/poster.jpeg) no-repeat;
    background-size: cover; 
}

/*.video_overlay {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    background: -webkit-linear-gradient(left top, #B71C1C, #9E9E9E);
    background: -o-linear-gradient(bottom right, #B71C1C, #9E9E9E);
    background: -moz-linear-gradient(bottom right, #B71C1C, #9E9E9E);
    background: linear-gradient(to bottom right, #B71C1C, #9E9E9E);
    z-index: -20;
    background-size: contain;
    opacity: 0.4;
    top: 0;
    left: 0;
}*/

/*.img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 716px;
   height: 686px;
   margin-top: -250px;
   margin-left: -250px;
}*/

/*About Page*/

.backgroundAbout {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    background: -webkit-linear-gradient(left top, #9E9E9E, #0D47A1);
    background: -o-linear-gradient(bottom right, #9E9E9E, #0D47A1);
    background: -moz-linear-gradient(bottom right, #9E9E9E, #0D47A1);
    background: linear-gradient(to bottom right, #9E9E9E, #0D47A1);
    z-index: -20;
    background-size: contain;
    top: 0;
    left: 0;
}

.aboutCard {
    padding: 15%;
    margin-top: 25%;
    margin-bottom: 25%;
}




/*Team Page*/

/*Contact Page*/