<div class="jumbotron jumbotronContact sample shadow-z-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <div class="vcenterContact card card-content sample shadow-z-5 well well-material-grey-500 ">
                    <h1 style="color: white;">Contact</h1>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>
    
<div class="container-fluid" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-horizontal card card-body well well-material-grey-300" style="padding: 5%;" accept-charset="UTF-8" action="https://formkeep.com/f/null" method="POST">
                <fieldset>
                    <!-- First Name -->
                    <div class="form-group">
                        <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
                        <div class="col-lg-10">
                            <input name="First Name" type="text" class="form-control" id="inputEmail" placeholder="First Name">
                        </div>
                    </div>
                    <!-- Last Name -->
                    <div class="form-group">
                        <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
                        <div class="col-lg-10">
                            <input name="Last Name" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                        </div>
                    </div>
                    <!--Email-->
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input name="Email" type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <!-- Phone -->
                    <div class="form-group">
                        <label for="inputPhoneNumber" class="col-lg-2 control-label">Phone Number</label>
                        <div class="col-lg-10">
                            <input name="Phone Number" type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                    <!-- Company -->
                    <div class="form-group">
                        <label for="inputCompanyName" class="col-lg-2 control-label">Company Name</label>
                        <div class="col-lg-10">
                            <input name="Company Name" type="text" class="form-control" id="inputCompanyName" placeholder="Company Name">
                        </div>
                    </div>
                    <!-- Position -->
                    <div class="form-group">
                        <label for="inputBusinessTitle" class="col-lg-2 control-label">Business Title</label>
                        <div class="col-lg-10">
                            <input name="Business Title" type="text" class="form-control" id="inputBusinessTitle" placeholder="Business Title">
                        </div>
                    </div>
                    <!-- Purpose -->
                    <div class="form-group">
                        <label for="selectMsgPurpose" class="col-md-2 control-label">Message Purpose</label>

                        <div class="col-md-10">
                            <select name="Purpose" id="selectMsgPurpose" class="form-control">
                                <option>Other</option>
                                <option>Business</option>
                                <option>Information</option>
                                <option>Error</option>
                                <option>Job</option>
                            </select>
                        </div>
                    </div>
                    <!-- Message -->
                    <div class="form-group">
                        <label for="Message" class="col-lg-2 control-label">Message</label>
                        <div class="col-lg-10">
                            <textarea name="Message" class="form-control" rows="3" id="textArea"></textarea>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <!-- Sumbit Button -->
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-material-red-500">Submit</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<footer class="footerLayout sample shadow-z-5">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-3 text-center">
                    <p>
                        <button class="btn btn-fab-material-teal-A400">
                            <img height="40" width="40" src="http://www.jeffwortham.com/wp-content/uploads/2015/03/linkedin-without-background.png" />
                        </button>
                    </p>
                </div>
                <div class="col-xs-3 text-center">
                    <p>
                        <button class="btn btn-fab-default">
                            <img height="40" width="40" src="http://www.jeffwortham.com/wp-content/uploads/2015/03/linkedin-without-background.png" />
                        </button>
                    </p>
                </div>
                <div class="col-xs-3 text-center">
                    <p>
                        <button class="btn btn-fab-default">
                            <img height="40" width="40" src="http://www.jeffwortham.com/wp-content/uploads/2015/03/linkedin-without-background.png" />
                        </button>
                    </p>
                </div>
                <div class="col-xs-3 text-center">
                    <p>
                        <button class="btn btn-fab-default">
                            <img height="40" width="40" src="http://www.jeffwortham.com/wp-content/uploads/2015/03/linkedin-without-background.png" />
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div class="row text-center">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <h1>Crowd<b>Serv</b></h1>
        </div>
        <div class="col-xs-4"></div>
    </div>
</footer>
